html { 
  background: url(static/opening.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%
}

html{
    overflow: hidden;
}

#title{
    font-family: 'Alex Brush';
    font-size: 5.5em;
    padding: .25em 0 0 .5em;
}

#start{
    font-family: 'Press Start 2P';
    position: absolute;
    top: 60%;
    left: 38%;
    transform: translateY(-300%) translateX(-5%);
}

#viewdiv{
    position: absolute;
    bottom: 3em;
    width: 100%;
    height: 100%;
}

#castle-div, #start-link-div{
    display: inline-block; vertical-align: top;
}

#start-link-div{
    width: 100%;
    height: 100%;
}

#link{
    width: 7em;
    height: 7em;
    position: absolute;
    bottom: -2em;
    left: 10em;
}

#hideme{
    z-index: -1;
}

#center-wrap{
    position: absolute;
    top: 45%;
    transform: translateY(-5%) translateX(-40%);
    left: 47%;
}

#enter-user-wrapper{
    width: 100%;
    height: 100%;
}

#enter_name, #press_enter{
    font-family: 'Press Start 2P';
    text-align: center;
}

#press_enter{
    font-size: 1.1em;
}


#enter_name{
    margin-top: 1.5em;
    font-size: 1.4em;
}

#opaq-color{
    background-color: lightgrey;
    width: 30em;
    height: 15em;
    opacity: .8;
    position: absolute;
    z-index: -1;
    border-radius: .5em;
}

#input_wrap{
    width: 30em;
    height: 15em;
    border: dashed .2em black;
    border-radius: .5em;
    margin: 0 auto;
}

#input{
    margin: 0 auto;
    width: 19em;
}

span{
    font-family: 'Press Start 2P';
    font-size: 1.2em
}

#username{
    width: 8em;
    margin: 0 auto 5em auto;
}


#game{
    width: 75em;
    height: 100%;
    margin: 0 auto;
}

canvas{
    position: absolute;
    background: transparent;
    top: 50%;
    transform: translateY(-44%);
    margin: 0 auto;
}

#background_canvas {
    z-index: -1
}

#tower_canvas {
    z-index: 0
}

.game_over{
    position: absolute;
    top: 51%;
    transform: translateY(44%) translateX(-30%);
    left: 45%;
    font-family: 'Press Start 2P';
    font-size: 35px;
    text-align: center;
}

.game_over span{
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.game_over span:hover {
    color: red;
}