html { 
  background: url(static/opening.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*html, body, #viewdiv{
    min-height: 100%;
}*/

#title{
    font-family: 'Alex Brush';
    font-size: 5.5em;
    padding: .25em 0 0 .5em;
}

#start{
    font-family: 'Press Start 2P';
    text-align: center;
    margin-top: 9em;
}

#viewdiv{
    position: absolute;
    bottom: 3em;
    width: 100%;
    height: 100%;
}

#castle-div, #start-link-div{
    display: inline-block; vertical-align: top;
}

#start-link-div{
    width: 100%;
    height: 100%;
}

#link{
    width: 7em;
    height: 7em;
    position: absolute;
    bottom: -2em;
    left: 10em;
}

#hideme{
    z-index: -1;
}

#center-wrap{
    margin: 3em auto 0 auto;
}

#enter-user-wrapper{
    width: 100%;
    height: 100%;
    margin-top: 19em;
}

#enter_name, #press_enter{
    font-family: 'Press Start 2P';
    text-align: center;
}

#press_enter{
    font-size: 1.1em;
}


#enter_name{
    margin-top: 1.5em;
    font-size: 1.4em;
}

#opaq-color{
    background-color: lightgrey;
    width: 30em;
    height: 15em;
    opacity: .8;
    position: absolute;
    z-index: -1;
    border-radius: .5em;
}

#input_wrap{
    width: 30em;
    height: 15em;
    border: dashed .2em black;
    border-radius: .5em;
    margin: 0 auto;
}

#input{
    margin: 0 auto;
    width: 19em;
}

span{
    font-family: 'Press Start 2P';
    font-size: 1.2em
}

#username{
    width: 8em;
    margin: 0 auto 5em auto;
}

canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
}

#background_canvas {
    z-index: -1
}

#tower_canvas {
    z-index: 0
}

.game_over{
    position: absolute;
    top: 400px;
    left: 630px;
    cursor:default;
    display: none;
    font-family: Courier;
    font-size: 45px;

}

.game_over span{
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.game_over span:hover {
    color: red;
}


/*#link_canvas {
    position: absolute;
    z-index: 2
}
*/