<audio src="static/bubblegumbay.mp3" autoplay></audio>
<div z-index='0'>
    <canvas id='mogAnimation'></canvas>
    <img src='../static/mog.png' id='mog'>
    <img src='../static/mog.png' id='mog1'>
    <img src='../static/mog.png' id='mog2'>
    <img src='../static/mog.png' id='mog3'>
    <img src='../static/link.png' id='link'>
    <img src='../static/castleintro.png' id='castle'>
    <h1 id='title'>Cherrywood Legends</h1>
    <h2 id='start'>Hit Space To Start!</h2>
</div>

<button id='hideme' type='text' ng-keypress='indexControl.onKeyPress($event)' tabindex='0' autofocus></button>